<div class="content">
    <div class="box">
        <p>{{currentUser.name}} {{currentUser.surname}}</p>
        <div class="links">
        <a class="btn" [routerLink]="['office-ticket']" routerLinkActive ='active'><img src="../../assets/different/ticket.png" alt=""><a class="lk" href="">Квитки</a></a>
        <a class="btn" [routerLink]="['office-orders']" routerLinkActive ='active'><img src="../../assets/different/cupcake.png" alt=""> <a class="lk" href="">Солоденьке</a></a>
        <a class="btn" [routerLink]="['office-profile']" routerLinkActive ='active'><img src="../../assets/different/user.png" alt=""> <a class="lk" href="">Профіль</a></a>
        <a class="btn" [routerLink]="['office-support']" routerLinkActive ='active'><img src="../../assets/different/help.png" alt=""> <a class="lk" href="">Підтримка</a></a>
        
        
        </div>
    </div>
    <div class="menu">
        <router-outlet></router-outlet>
        
    </div>
</div>