<div class="contact">
    <div class="info">
        <p>Контакти</p>
        <p>Не вагайся, ми будемо раді отримати твоє повідомлення. Усі зауваження потрапляють до власників Мультиплекс та керівництва кінотеатрів. Вони точно знають, як вирішити проблему і зробити твій улюблений кінотеатр ще кращим.</p>
        <div class="links">
            <div class="text">
                <p>Пиши нам в месенджер:</p>
            </div>
            <div class="messenger">
                <a target="_blank" href="https://web.telegram.org/k/"><img src="../../../assets/different/telegram.png" alt=""></a>
                <a target="_blank" href="https://www.viber.com/ru/"><img src="../../../assets/different/telephone.png" alt=""></a>
                <a target="_blank" href="https://www.messenger.com/"><img src="../../../assets/different/messenger.png" alt=""></a>
            </div>
        </div>
        <p class="email">support@muliplex.net</p>
    </div> 
</div>