<div class="content">
    <div class="particle">
        <ng-particles class="test" [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)"></ng-particles>

        <div class="logo"></div>
    </div>
    <div class="about">
        <div class="text">
            <p>Про компанію</p>
            <p>MULTIPLEX - це найбільша мережа кінотеатрів в Україні заснована у 2004 році.</p>
            <p>MULTIPLEX - це 28 кінотеатрів та 141 кінозал у найбільших містах України.
                Відповідно до кращої світової практики корпоративного управління, у серпні 2018 року був сформований найвищий орган управління компанією</p>
            <p>MULTIPLEX – борд, до складу якого увійшли впливові українські підприємці, управлінці і лідери громадської думки.</p>        
            <p>MULTIPLEX активно підтримує та інвестує у розвиток українського кінематографу.</p>
            <p>Наші особливості:</p>
            <ul>
                <li>унікальні смаки продукції попкорн-бару;</li>
                <li>selfie-friendly дизайн інтер'єрів;</li>
                <li>стандартні зали із місцями підвищеного комфорту в задніх рядах та інноваційні формати IMAX та ScreenX</li>
                <li>VIP кінотеатр з ексклюзивним сервісом у головному ТРЦ країни - ЦУМ у Києві;</li>
                <li>автокінотеатр Drive In by Parimatch.</li>
            </ul>
        </div>
    </div>
</div>
