<div class="foo">
    <div class="contact">
        <button class="getContact">Контакти</button>
        <a href="https://planetakino.ua/r/0ed7d92619c64a7f91713bc64a81ab61/RULES_PK_UA.pdf" target="_blank">Правила та умови Multiplex</a>
        <p>Сайт розроблено та підтримується в LOGOS</p>
    </div>
    <div class="mid">
        <img src="../../../assets/multiplex.png" alt="">
    </div>
    <div class="social">
        <div class="links">
        <a target="_blank" href="https://www.instagram.com/multiplex_official/?hl=uk"><img src="../../../assets/different/social/instagram.png" alt=""></a>
        <a target="_blank" href="https://www.facebook.com/uamultiplex"><img src="../../../assets/different/social/facebook.png" alt=""></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCII-7S2oGdoFCchS4DM2L5Q"><img src="../../../assets/different/social/youtube.png" alt=""></a>
        </div>
        <p>Підтримка користувачів</p>
        <p>support@muliplex.net</p>
    </div>
</div>