<div class="login">
    <div class="left">
       <div class="box">
        <form name="reg" *ngIf="isShowForm" [formGroup]="signUpForm">
        <p>Реєстрація</p>
        <p>Введіть ім'я,пошту та пароль</p>
        <p>Тут всі ваші замовлення та особиста інформація</p>
        <p>Ім'я</p>
        <input formControlName = 'name' name="name" class="name" type="text" placeholder="Ім'я...">
        <p>Електронна пошта</p>
        <input formControlName = 'email' name="email"  class="email" type="email" placeholder="Ел.пошта...">
        <p>Пароль</p>
        <input formControlName = 'password' name="password" class="password" type="password" placeholder="Пароль...">
        <button (click)="singUp()" disabled class="confirm inactive reg">Реєстрація</button>
        <button (click)="switchForm()" class="haveAcc">У мене вже є акаунт</button>
        <!-- ************************************************** -->
        </form>
        <form *ngIf="!isShowForm" [formGroup]="singInForm">
            <p>Вхід до особистого кабінету</p>
            <p>Введіть пошту та пароль</p>
            <p>Тут всі ваші замовлення та особиста інформація</p>
            <p>Електронна пошта</p>
            <input formControlName = 'email' name="email"  class="email loginEmail" type="email" placeholder="Ел.пошта...">
            <p>Пароль</p>
            <input formControlName = 'password' name="password" class="password loginPass" type="password" placeholder="Пароль...">
            <button (click)="signIn()" class="confirm inactive loginBtn">Увійти</button>
            <button (click)="switchForm()" class="haveAcc">Немає акаунта</button>
            </form>
        </div>
        
    </div>
    <div class="right">
        <img class="image" src="../../../assets/different/lk_login_img_new.png" alt="">
        <p>Не потрібно завантажувати або друкувати!</p>
        <p>Квитки вже у Вашому кабінеті - просто авторизуйтесь зараз і покажіть QR-код при вході в кінозал.</p>
    </div>
</div>