.login{
    display: flex;
    width: 100%;
    height: 600px;
}
.left{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.box{
    width: 80%;
    height: 80%;
    
}
.box p:nth-child(1){
    font-weight: bold;
    color: #221f1f;
    font-size: 1.5rem;
    margin-top: 20px;
}
.box p:nth-child(2){
    font-weight: 500;
    color: #313131;
    font-size: 1.2rem;
}
.box p:nth-child(3){
    font-weight: 100;
    color: #646464;
    font-size: 1.2rem;
}
.box p:nth-child(4){
    margin-bottom: 10px;
    color: #050505;
    font-size: 1.2rem;
}
.name{
    width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    padding-left: 10px;
    line-height: 35px;
}
.confirm{
    display: block;
    width: 150px;
    margin-top: 30px;
    color: #fff;
    outline: none;
    line-height: 40px;
    border: none;
    border-radius: 5px;

}
.inactive{
    background-color: rgb(214, 214, 214);
    cursor: default;
}
.active{
    background-color: rgb(223, 0, 0);
    color: #fff;
    cursor: pointer;
}
.email{
    width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    padding-left: 10px;
    line-height: 35px;
}
.password{
    width: 80%;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    padding-left: 10px;
    line-height: 35px;
}
.haveAcc{
    background-color: transparent;
    border: none;
    color: rgb(230, 0, 0);
    margin-top: 20px;
}
.right{
    width: 60%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(134,134,134,1) 100%);
}
.image{
    display: block;
    margin: 40px auto;
}
.right p:nth-child(2){
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.8rem;
}
.right p:nth-child(3){
    text-align: center;
    margin:  0 auto;
    width: 80%;
    color: rgb(80, 80, 80);
    font-size: 1.2rem;
}